@media all and (max-width: 1440px) {
    body {
        overflow: hidden;
        margin:0;
    }
/*
    #wrapper {
        width: 1287px;
        height: 800px;
    }*/

    #ai2html {
        /*margin-top: 50px;*/
        overflow: hidden;
        -ms-overflow-style: none;
    }

    #ai2html::-webkit-scrollbar {
        display: none;
    }

}
@media screen and (min-width: 1026px) and (max-width: 1339px) {
    #wrapper{
        width:1440px;
        height:820px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1025px) {
    #wrapper{
        width:1024px;
        height:820px;
    }

}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    #wrapper{
        width:1024px;
        height:820px;
    }
}

@media screen and (max-width: 767px){
    #download{
        display:none;
    }
}

@media screen and (min-width: 571px) and (max-width: 768px) {
    #wrapper{
        width: 768px;
        height:820px;
    }
}

@media screen and (min-width: 426px) and (max-width: 570px) {
    #wrapper{
        width: 570px;
        height:500px;
    }
}
@media screen and (min-width: 376px) and (max-width: 425px) {
    #wrapper{
        width:425px;
    }
    }
@media screen and (min-width: 325px) and (max-width: 375px) {
    #wrapper{
        width:375px;
    }
}