@media all and (max-width: 1333px) {
    body {
        overflow: none;
    }

    #wrapper {
        width: 1287px;
        height: 800px;
    }

    #ai2html {
        /*margin-top: 50px;*/
        /*overflow: hidden;*/
        -ms-overflow-style: none;
    }

    #ai2html::-webkit-scrollbar {
        display: none;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 15px;
    }
}

@media all and (max-width: 1154px) {
    #wrapper {
        width: 1154px;
        height: 800px;
    }

    /*#ai2html {
        margin-top: 80px;
    }*/

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 14px;
    }


}

@media all and (max-width: 900px) {

    p {
        font-size: 13px;
    }

}

@media all and (max-width: 570px) {
    #wrapper {
        width: 100%;
        height: 500px;
        overflow: scroll;
    }

    #ai2html {
        width: 919px;
        height: 500px;
        margin-top: 0px;
    }

    #title{
        display:none;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        display: none;
    }


    #title-wrapper {
        margin: 7px;
    }

    .info-span {
        padding: 5px;
    }

    #info p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    p {
        font-size: 12px;
    }

}

/*@media all and (max-width: 414px) {

    p {
        font-size: 10.5px;
    }

    h1 {
        font-size: 16px;
    }

    
    #title{
        display:none;
    }


    #title-wrapper {
        margin: 5px;
    }

}*/